<% pre_like = post.likes.find { |like| like.user_id == Current.user.id} %>
      <% if pre_like %>
      <%= button_to 'Unlike', post_like_path(post.id, pre_like), method: :delete, class: 'btn btn-primary' %>
      <% else %>
      <%= button_to 'Like', post_likes_path(post.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
      <%#= button_to 'Comment', post_comment_path(post.id), method: :get, class: 'btn btn-primary' %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>